language: python

python:
  - "3.7"

install:
  - pip install -r requirements.txt

before_script:
  - export APP_SETTINGS="config.DevelopmentConfig"
  - export DATABASE_URL="postgresql://localhost/language_learner_dev"

script:
  - "coverage run app_test.py"
